<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book List</title>
</head>
<body>
  {% for book in object_list %}
  <div style="padding-left: 8px; margin-bottom: 32px;border: 4px solid black">
    <h2>Author: {{book.author}}</h2>
    <h3><a href="/api/books/<{{book.id}}>">Name: {{ book.name }}</a></h3>
    <h4>Description: {{book.description}}</h3>
    <h4>Price: {{book.price}}</h3>
    <h4>Shipping Cost: {{book.shipping_cost}}</h3>
  </div>
  {% endfor %}
</body>
</html>